<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>
<div class="container">
  <div th:replace="~{fragments/bodyHeader :: bodyHeader}" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
      </tr>
      </thead>
<!--      <tbody>-->
<!--      <tr th:each="member : ${members}">-->
<!--        <td th:text="${member.id}"></td>-->
<!--        <td th:text="${member.name}"></td>-->
<!--      </tr>-->
<!--      </tbody>-->
      <tbody id="list">

      </tbody>
    </table>
    <!-- 페이지네이션 렌더링 영역 -->
    <div class="paging">

    </div>
  </div>
  <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/

    window.onload = () => {
      findAllPost();
    }


    // 게시글 리스트 조회
    function findAllPost() {

      const list = [[ ${response.list} ]];
      if ( !list.length ) {
        document.getElementById('list').innerHTML = '<td colspan="6"><div className="no_data_msg">검색된 결과가 없습니다.</div></td>';
        drawPage();
      }

      const pagination = [[ ${response.pagination} ]];
      const params = [[ ${params} ]];
      let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);

      drawList(list, num);
      drawPage(pagination, params);
    }


    // 리스트 HTML draw
    function drawList(list, num) {

      let html = '';

      list.forEach(row => {
        html += `
            <tr>
                <td>${row.id}</td>
                <td>${row.name}</td>
            </tr>
        `;
      })

      document.getElementById('list').innerHTML = html;
    }


    // 페이지 HTML draw
    function drawPage(pagination, params) {

      if ( !pagination || !params ) {
        document.querySelector('.paging').innerHTML = '';
        throw new Error('Missing required parameters...');
      }

      let html = '';

      // 첫 페이지, 이전 페이지
      if (pagination.existPrevPage) {
        html += `
            <a href="javascript:void(0);" onclick="movePage(1)" class="page_bt first">첫 페이지</a>
            <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
        `;
      }

      // 페이지 번호
      html += '<p>';
      for (let i = pagination.startPage; i <= pagination.endPage; i++) {
        html += (i !== params.page)
                ? `<a href="javascript:void(0);" onclick="movePage(${i});">${i}</a>`
                : `<span class="on">${i}</span>`
      }
      html += '</p>';

      // 다음 페이지, 마지막 페이지
      if (pagination.existNextPage) {
        html += `
            <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>
            <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>
        `;
      }

      document.querySelector('.paging').innerHTML = html;
    }


    // 페이지 이동
    function movePage(page) {
      const queryParams = {
        page: (page) ? page : 1,
        recordSize: 10,
        pageSize: 10
      }
      location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
    }

    /*]]>*/
  </script>
</th:block>
</html>

