<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 목록</title>
</head>
<body>
  <div>
    <h1>게시글 목록</h1>
  </div>
  <table>
  <thead>
  <tr>
    <th>게시판</th>
    <th>이름</th>
  </tr>
  </thead>
  <tbody>
  <a href="/boards/new">게시글 쓰기</a>
    <tr th:each="board : ${boards}">
      <td th:text="${board.id}"></td>
      <td >
        <a href="#" th:text="${board.name}" th:href="@{/boards/{id} (id=${board.id})}"></a>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>